<form action='@Url.Action("GuardarDeportista","Home")' method="POST">


    Apellido:<input type="text" name="Apellido">
    Nombre:<input type="text" name="Nombre">
    FechaDeNacimiento:<input type="date" name="FechaDeNacimiento">
    Foto:<input type="text" name="Foto">


    <input type="submit" placeholder="Agregar Deportista">
</form>