@{
    ViewData["Title"] = "Créditos";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mb-4">Créditos</h1>
            <p>Desarrollado por:</p>
            <ul class="list-unstyled">
                <li>Bruno Massaccesi</li>
                <li>Tiago Ghelman</li>
            </ul>
        </div>
    </div>
</div>