
<ul>
    @foreach (Deportistas item in ViewBag.Deportistas)
    {
        <li>@item.Nombre</li>
        <li>@item.Apellido</li>
        <li>@item.FechaDeNacimiento</li>
        <li>
            <img src='@item.Foto'>
        </li>
    }
</ul>