@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <a href='@Url.Action("Deportes","Home")'>Ver todos los deportes</a>
    <a href='@Url.Action("Paises","Home")'>Ver todos los Paises</a>
    
</div>
